      body {
        height: 100vh;
        margin: 0;
      }
      .navigation {
        width: 15em;
        height: 100%;
        background-color: #e0d2d7;
        float: left;
      }
      .wrap {
        height: 100%;
        background-color: #e5edfb;
      }
      .content1 {
        background-color: #aeb3bd;
        width: auto;
        margin-bottom: 2em;
      }
      .footer {
        margin-top: auto;
        width: auto;
        background-color: #6d9eeb;
        clear: both;
        padding-top: 0.1px;
      }
      .clear {
        clear: both;
      }
      .imgg{
        float: right;
      }
     
   