table{
    border-bottom-style: 2px dotted black;
    width: auto;
}  
td{
    height: 20px; 
    border: 2px dotted black;
}
th{
    height: 20px; 
    border: 2px dotted black;
}
tr{
    border-bottom: 2px dotted black;  
}
th>p{
    background-color: rgb(145, 152, 152);
}
tr:nth-child(2n){
    background-color: cadetblue;
}
tr:hover{
    background-color: aqua;
}